<div class="footerwrapper">
	<div class="container">
		 <div class="row hidden-xs">
		 	<div class="col-md-12">
		 		<div class="col-md-3 col-sm-3 ">
			 		<li>Investors</li>
					<li>Newsroom</li>
					<li>Careers</li>
					<li>Patient Privacy</li>
					<li>Suppliers</li>
					<li>Investors</li>
					<li>Newsroom</li>
					<li>Careers</li>
					<li>Patient Privacy</li>
					<li>Suppliers</li>
			 	</div>
		 		<div class="col-md-3 col-sm-3  ">
		 			<li>Investors</li>
					<li>Newsroom</li>
					<li>Careers</li>
					<li>Patient Privacy</li>
					<li>Suppliers</li>
					<li>Investors</li>
					<li>Newsroom</li>
					<li>Careers</li>
					<li>Patient Privacy</li>
					<li>Suppliers</li>
		 		</div>
		 		<div class="col-md-2 col-sm-2  ">
		 			<li>Investors</li>
					<li>Newsroom</li>
					<li>Careers</li>
					<li>Patient Privacy</li>
					<li>Suppliers</li>
					<li>Investors</li>
					<li>Newsroom</li>
					<li>Careers</li>
					<li>Patient Privacy</li>
					<li>Suppliers</li>
		 		</div>
		 		<div class="col-md-2 col-sm-2 ">
					<li>Investors</li>
					<li>Newsroom</li>
					<li>Careers</li>
					<li>Patient Privacy</li>
					<li>Suppliers</li>
					<li>Investors</li>
					<li>Newsroom</li>
					<li>Careers</li>
					<li>Patient Privacy</li>
					<li>Suppliers</li>
		 		</div>
		 		<div class="col-md-2 col-sm-2 ">
					<li>Investors</li>
					<li>Newsroom</li>
					<li>Careers</li>
					<li>Patient Privacy</li>
					<li>Investors</li>
					<li>Newsroom</li>
					<li>Careers</li>
					<li>Patient Privacy</li>
					<li>Suppliers</li>
					<li>Suppliers</li>
		 		</div>	 		
		 	</div>
		 </div>
	</div>
	
</div>