<!--Product list-->
<div class="innerwrap container">
    <div class="productwrap">
        <div class="row">
            <h2>{{data.section1.section_title}}</h2>
            <slick dots=true arrow=true responsive=breakpoints slides-to-show=6 slides-to-scroll=1 infinite=false>
                <div class="col-md-2 col-sm-3" ng-repeat="products in data.section1.section_prods">
                    <proddisplay></proddisplay>
                </div>
            </slick>
        </div>
    </div>
    <div class="productwrap">
        <div class="row">
            <h2>{{data.section2.section_title}}</h2>
            <slick dots=true arrow=true responsive=breakpoints slides-to-show=6 slides-to-scroll=1 infinite=false>
                <div class="col-md-2 col-sm-3" ng-repeat="products in data.section1.section_prods">
                    <proddisplay></proddisplay>
                </div>
            </slick>
        </div>
    </div>
    <div class="productwrap">
        <div class="row">
            <h2>{{data.section3.section_title}}</h2>
            <slick dots=true arrow=true responsive=breakpoints slides-to-show=6 slides-to-scroll=1 infinite=false>
                <div class="col-md-2 col-sm-3" ng-repeat="products in data.section1.section_prods">
                    <proddisplay></proddisplay>
                </div>
            </slick>
        </div>
    </div>
</div>
